body {
    background-color: lightgrey;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background: linear-gradient(to right ,red, orange, green,yellow);
    color:black;
    padding: 10px;
    font-size: 32px;
}
header:hover {
    font-size: large;   
}
header:active {
    color: violet;
}

footer {
    background: linear-gradient(to right, blue, purple,lightblue);
    color: black;
    font-size: 24px;
    padding: 10px;
    font-style: italic; 
    text-align: right;
}
footer:hover {
    font-size: large;
}
footer:active {
    color: violet;
}

a {
    text-decoration: none;
    color: green;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}

a:active {
    color: pink;
    background-color: green;
}
a {
    text-shadow: 4px 2px 0.5px pink;
    transition: 2s;
}
a:hover {
    transition: 0.3s;
}

